* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Dark-Sea-Green: #94b49f;
  --Light-Silver: #cee5d0;
  --Cosmic-Latte: #fcf8e8;
  --Crayola: #e98d78;
}

/* font-family: 'Barlow', sans-serif; */
/* font-family: cursive; */

body {
  background-color: white;
}
.search {
  background-color: var(--Crayola);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding-top: 1rem;
}

.search input {
  border: 2px solid;
  background-color: white;
  padding: 0.5rem 4rem;
  position: relative;
  z-index: 2;
  width: 50%;
  box-shadow: 2px #ecb390;
  text-decoration: none;
  height: 3rem;
  font-size: larger;
  font-family: cursive;
}

.search input::placeholder {
  color: var(--Dark-Sea-Green);
}
*:focus {
  outline: none;
  box-shadow: #fcf8e8;
}

.search i {
  padding-top: 1rem;
  color: var(--Crayola);
  position: absolute;
  z-index: 2;
  left: 27%;
  top: 50%;
  transform: translateY(-50%);
}
#match-values {
  display: flex;
  flex-direction: column;
  background-color: var(--Crayola);
  align-items: center;
}

.value {
  background-color: white;
  padding: 0.5rem 4rem;
  position: relative;
  width: 50%;
  text-align: left;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-left: 2px solid;
  font-family: cursive;
}
.value:hover {
  background-color: var(--Cosmic-Latte);
  cursor: pointer;
}
path {
  fill: var(--Crayola);
  fill-opacity: 1;
}

.books {
  display: flex;
  padding: 0.5rem 4rem;
  flex-wrap: wrap;
  justify-content: center;
}

.one-book {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 80%;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem;
  background-color: var(--Cosmic-Latte);
  border: 1px solid var(--Crayola);
  border-radius: 10px;
}

.details {
  width: 100%;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details h4,
.details p,
.details button {
  margin: 0.3rem;
}

.details button {
  width: 20%;
}

.name p {
  color: rgba(0, 0, 0, 0.589);
}

.details .img {
}

.details button {
  padding: 0.5rem 1rem;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--Crayola);
}
